{
  "env": {
    "mocha": true
  },
  "rules": {
    "no-unused-expressions": "off",
    "func-names": "off",
    "prefer-arrow-callback": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
